*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(6, 37, 31);
}
.clock
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-image: url(./img/face3.png);
    background-size: cover;
    border: 4px solid rgb(13, 29, 22);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(61, 73, 69, 0.062),
                inset 0 15px 15px rgba(1, 7, 20, 0.356),
                0 15px 15px rgba(3, 0, 7, 0.76),
                inset 0 15px 15px  rgba(0, 5, 7, 0.288);
}
.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;  
    z-index: 10000;
}
              
.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour .hr
{   
   
    width: 160px;
    height: 160px;
}
.clock .min .mn
{
    
    width: 190px;
    height: 190px;
}
.clock .sec .sc
{    
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    border-radius: 50%;
        
}
.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #ffffff;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.sc:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #ffffff;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
