*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
.container{
    background-color: black;
    display: flex;
    width: 100%;
    height: 100vh;
}
.navigation{
    background-color: burlywood;
    width:20%;
    height: 100vh;
}
.logo{
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 200px;
    border: 1px solid #fff;
    left: 21.2%;
   
}
.logotext{
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    margin-left: 50%;
    transform: translateX(-50%);
}
.logo img{
    margin-top: 50%;
    margin-left: 50%;
    width: 50px;
    transform: translateX(-50%);
}
.information {
    background-image: url(./Images/jellyfish.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 80%;
    height: 100vh;
}
.changeLang{
    position: absolute;
    display: flex;
    margin-top: 60px;
    right: 5%;
}
.changeLang input{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    color: #fff;
    border: none;
}
.rus{
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    justify-content: center;
}
.rus:hover{
    transition: 0.1s;
    border: 1px solid rgb(85, 85, 85);
}
.eng{
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    justify-content: center;
}
.eng:hover{
    transition: 0.1s;
    border: 1px solid rgb(85, 85, 85);
}
.active{
    background:linear-gradient(34deg,rgba(105, 102, 150, 0.212),rgba(255, 0, 0, 0.089));
    border: 1px solid rgb(134, 134, 134);
}
.lvl_1i{
    font-size: 4rem;
    color: rgb(224, 224, 224);
    margin-top: 45vh;
    margin-left: 1rem;
}
.lvl_1i h1{
    color: rgb(224, 224, 224);
    line-height: 8rem;
    /* text-shadow: 1px 1px 100px rgb(212, 21, 219); */
    animation: text-shadow 1.5s ease-in-out;
}
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-0.1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.1em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}
#missiontext{
    line-height: 1.4rem;
    margin-top: 10rem;
    margin-left: 4px;
    width: 43%;
    font-size: 1.2rem;
}
#missiontext {

    overflow: hidden; /* Скрываем строку за её пределами */
    white-space: nowrap; /* Запрещаем переносы слов */
    animation: missiontext 15s linear infinite;
   }
   #missiontext:hover {
    animation-play-state: paused; /* Пауза */
   }
   @keyframes missiontext{
    from { text-indent: 100%; }
    to { text-indent: -100%; }
   }
.lvl_1i a{
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-size: 2rem;
   }
.lvl_1i a::after{
    content: '';
    background-color:  rgb(224, 224, 224);
    height: 1px;
    width: 80px;
    position: absolute;
    top:55%;
    margin-left: 1rem;
    transition: 1s;
   }
.lvl_1i a:hover::after{
    transition-delay: 0.1s;
    width: 120px;
}
.lvl_1{
    position: absolute;
    width: 20%;
    height: 20vh;
    top:0;
    background: linear-gradient(25deg,rgb(128, 201, 247),rgb(47, 88, 116),rgb(84, 194, 161),rgb(255, 250, 182));
}

.lvl_2{
    position: absolute;
    width: 20%;
    height: 20vh;
    top: 20%;
    background: linear-gradient(45deg ,rgb(34, 50, 94),rgb(43, 103, 141),rgb(132, 84, 194))
}
.lvl_3{
    position: absolute;
    width: 20%;
    height: 20vh;
    top: 40%;
    background: linear-gradient(45deg,rgb(31, 49, 97),rgb(34, 75, 151))
}
.lvl_4{
    position: absolute;
    width: 20%;
    height: 20vh;
    top: 60%;
    background: linear-gradient(45deg,rgb(25, 37, 77),rgb(7, 59, 172))
}
.lvl_5{
    position: absolute;
    width: 20%;
    height: 20vh;
    top: 80%;
    background: linear-gradient(45deg,rgb(20, 36, 78),rgb(32, 26, 114))
}
.lvl_1:hover,
.lvl_2:hover,
.lvl_3:hover,
.lvl_4:hover{
    cursor: pointer;
    width: 20%;
    height: 25%;
    transition: 1s;
}
.lvl_5:hover{
    cursor: pointer;
}
.navigation p{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: 15vh;
    left: 10px;
    
}